h1 {
    color: #111;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-style: italic;
    background: red;
    text-align: center;
    display: inline-block;
    width: 250px;
    height: 80px;
    line-height: 80px;
    font-size: 51px;
    border-radius: 5px 80px;
}